@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

// Fonts 
$mainFont: "Moderustic", system-ui;

// Colors 
$bg-color: #121212;      
$second-color: #1E1E1E;
$white: #4F4F4F;       
$dark: #B0B0B0;         
$accent: #E53935;      



// Width Devices 
$desctop: 830px;
$ipad: 820px;
$mobile: 480px;